!!!
%h1 Curator
%div
  %form{id: "sort_limit_form", action: "/", method: "GET"}
    Sort by:
    %select{name: "sort_by"}
      %option{value: "symbol"} Select attribute
      %option{value: "return_on_capital"} Return on Capital
      %option{value: "earnings_yield"} Earnings Yield
    Limit:
    %select{name: "limit"}
      %option{value: 10} 10
      %option{value: 50} 50
      %option{value: 100} 100
      %option{value: 3000} No limit
    %input{type: "submit", value: " Go "}
%pre= @message
%table
  %thead
    %tr
      %td
        %h5 #
      %td
        %h5 Symbol
      %td
        %h5 Return on Capital
      %td
        %h5 Earnings Yield
  -if @reports
    -n = 0
    -@reports.each do |report|
      -n += 1
      %tr
        %td= n
        %td= report.symbol
        %td= report.return_on_capital
        %td= report.earnings_yield
.pusher
%p
  Created by
  %a{href: "http://www.leveen.co/about", target: "_blank"} Corey Leveen
  \- All data retrieved using the Quandl Sharadar Fundamentals API
