!!!
%h1 Curator
%p= "Data current as of #{@last_updated}"
%div
  %form{id: "sort_limit_form", action: "/", method: "GET"}
    Sort by:
    %select{name: "sort_by"}
      %option{value: "symbol"} Select attribute
      %option{value: "return_on_capital"} Return on Capital
      %option{value: "earnings_yield"} Earnings Yield
      %option{value: "magic_number"} Magic Number
    Limit:
    %select{name: "limit"}
      %option{value: 10} 10
      %option{value: 50} 50
      %option{value: 100} 100
      %option{value: 3000} No limit
    %input{type: "submit", value: " Go "}
%pre= @message
%pre= @download_link.html_safe if @download_link
%table
  %thead
    %tr
      %td
        %h5 #
      %td
        %h5 Symbol
      %td
        %h5 Name
      %td
        %h5 Return on Capital
      %td
        %h5 Earnings Yield
      %td
        %h5 Enterprise Value
      %td
        %h5 EBIT
      %td
        %h5 Market Cap
      %td
        %h5 Working Capital
      %td
        %h5 Fixed Assets
      %td
        %h5 Total Assets
      %td
        %h5 Current Assets
      %td
        %h5 Total Debt
      %td
        %h5 Cash and Equivalents
  -if @reports
    -n = 0
    -@reports.each do |report|
      -n += 1
      %tr
        %td= n
        %td= report.symbol
        %td= report.name
        %td= number_to_percentage(report.return_on_capital * 100, precision: 3)
        %td= number_to_percentage(report.earnings_yield * 100,    precision: 3)
        %td= number_to_currency(report.enterprise_value,          precision: 0)
        %td= number_to_currency(report.ebit,                      precision: 0)
        %td= number_to_human(report.market_cap)
        %td= number_to_currency(report.working_capital,           precision: 0)
        %td= number_to_currency(report.fixed_assets,              precision: 0)
        %td= number_to_currency(report.total_assets,              precision: 0)
        %td= number_to_currency(report.current_assets,            precision: 0)
        %td= number_to_currency(report.total_debt,                precision: 0)
        %td= number_to_currency(report.cash_and_equivalents,      precision: 0)
.pusher
%p
  Created by
  %a{href: "http://www.leveen.co/about", target: "_blank"} Corey Leveen
  \- All data retrieved using the Quandl Sharadar Fundamentals API
